@import '../../styles/utils.scss';

.desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabletMobile {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}
