@import '../../../styles/utils.scss';
@import '../../../styles/variables.scss';

.default {
  font-weight: bolder;
}

.underline {
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -0.7rem;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 50%;
    background-color: rgb(0, 0, 0);
  }
}
