@import '../../../styles/utils.scss';

.container {
  text-align: center;
  width: 60%;

  @include tabletDown {
    width: 100%;
  }

  h2 {
    @include textDefault;
    font-size: 1rem;
    text-transform: uppercase;
  }

  p {
    text-align: justify;
    @include tabletDown {
      font-size: 1.5rem;
    }
  }
}
