@import "../../../styles/utils.scss";
@import "../../../styles/variables.scss";

.container {
  text-align: center;
  width: 75%;

  @include tabletDown {
    width: 100%;
  }

  h4 {
    font-weight: 400;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: $text-color-secondary;
  }

  p {
    @include description;
    text-align: justify;
  }
}
