@import "../../../styles/utils.scss";
@import "../../../styles/variables.scss";

.container {
  text-align: center;
  width: 75%;
  min-width: 300px;

  @include tabletDown {
    width: 100%;
  }

  @include phone {
    min-width: 200px;
  }

  h4 {
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: $text-color-secondary;

    @include phone {
      margin-bottom: 35px;
    }
  }

  p {
    @include description;
    text-align: justify;
  }
}
