@import './variables.scss';

//screens
@mixin desktopDown() {
  @media screen and (max-width: $desktop-max-width) {
    @content;
  }
}

@mixin desktopSmallDown() {
  @media screen and (max-width: $desktop-small-max-width) {
    @content;
  }
}

@mixin tabletDown() {
  @media screen and (max-width: $tablet-max-width),
    /* IPad Pro*/ (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: $phone-max-width) {
    @content;
  }
}

//flex
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

//text
@mixin textDefault {
  font-weight: 400;
  letter-spacing: 0.1rem;
}
