@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

//colors
$bg-color-primary: #fff;
$bg-color-secondary: #f2f2f2;

//family-font
$family-font-main: 'Baskervville', serif;

//screen resolutions
$desktop-max-width: 1299px;
$tablet-max-width: 850px;
$phone-max-width: 499px;
