@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=IBM+Plex+Sans:wght@300&display=swap');

//colors
$bg-color-primary: #fff;
$bg-color-secondary: #f2f2f2;

//family-font
$font-family-main: 'Baskervville', serif;
$font-family-secondary: 'IBM Plex Sans', sans-serif;

//screen resolutions
$desktop-max-width: 1399px;
$desktop-small-max-width: 1099px;
$tablet-max-width: 850px;
$phone-max-width: 499px;
