@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=IBM+Plex+Sans:wght@300&display=swap');

//app paddings
$app-padding-top: 80px;
$app-padding-bottom: 80px;
$app-padding-left: 45px;
$app-padding-right: 45px;

//colors
$bg-color-primary: #fff;
$bg-color-secondary: #f2f2f2;
$text-color-secondary: #444;

//font-family
$font-family-main: 'Baskervville', serif;
$font-family-secondary: 'IBM Plex Sans', sans-serif;

//screens
$desktop-max-width: 1399px;
$desktop-small-max-width: 1099px;
$tablet-max-width: 850px;
$phone-max-width: 499px;
