@import "../../styles/utils.scss";
@import "../../styles/variables.scss";

.container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: $app-padding-vertical * 2 $app-padding-horizontal * 2;
  width: 100%;

  @include tabletDown {
    padding: $app-padding-vertical / 2 0;
  }

  @include phone {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  h2,
  h4,
  p {
    margin: 0;
  }

  h2 {
    @include title;
    z-index: 1;
    opacity: 0;
    position: absolute;
    top: 25%;
    left: 10%;
    width: 50%;
    transition: all 0.3s linear;

    @include phone {
      left: 5%;
      width: 100%;
    }

    &.animate {
      top: 14%;
      opacity: 1;
    }
  }

  h4 {
    @include subtitle;
    opacity: 0;
    flex: 1 0 20%;
    padding-right: 1.2rem;
    text-transform: uppercase;
    transform: translateY(50%);
    transition: all 0.3s linear;

    @include phone {
      padding: 0 1rem;
      min-height: 280px;
      text-align: center;
    }

    &.animate {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  .image {
    opacity: 0;
    flex: 1 0 60%;
    position: relative;
    margin-right: 100px;
    min-height: 650px;
    transform: translateY(50%);
    transition: all 0.7s linear;

    @include desktopDown {
      min-height: 500px;
    }

    @include desktopSmallDown {
      min-height: 450px;
    }

    @include tabletDown {
      margin-right: 45px;
      min-height: 325px;
    }

    @include phone {
      width: 100%;
      min-height: 400px;
      margin-right: 0;
    }

    &.animate {
      transform: translateY(0%);
      opacity: 1;
    }

    .imageContent {
      @include description;
      position: absolute;
      bottom: -5%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      opacity: 0.7;

      @include tabletDown {
        justify-content: flex-end;
        padding-right: 10px;
      }

      p {
        &:last-of-type {
          @include tabletDown {
            display: none;
          }
        }
      }
    }
  }
}
