@import "../../styles/utils.scss";
@import "../../styles/variables.scss";

.container {
  width: 100%;
  margin: 10px 0px;

  .title {
    @include title;
    margin: 0px 15px 20px;
    width: 50%;

    @include desktopSmallDown {
      margin: 0px 10px 20px;
    }

    @include tabletDown {
      margin: 0px 15px 25px 45px;
    }

    @include phone {
      margin: 0px $app-padding-horizontal-mobile 10px;
      width: 75%;
    }
  }

  .flex {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include tabletDown {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .content {
      margin: 0px 15px;

      @include desktopSmallDown {
        margin: 0px 10px;
      }

      @include tabletDown {
        margin: 45px 0px;
      }

      .imageContainer {
        position: relative;
        width: 445px;
        height: 700px;

        @include desktopDown {
          width: 350px;
          height: 575px;
        }

        @include desktopSmallDown {
          width: 272px;
          height: 445px;
        }

        @include tabletDown {
          width: 500px;
          height: 675px;
        }

        @include phone {
          width: 100vw;
          height: 600px;
        }
      }

      p {
        @include description;
        opacity: 0.7;
        width: 100%;
        pointer-events: none;
        font-family: $font-family-secondary;
        margin-top: 21px;
        padding-right: 0.1rem;
        text-align: right;

        @include tabletDown {
          text-align: center;
        }
      }
    }
  }
}
