@import "../../styles/variables.scss";
@import "../../styles/utils.scss";

$image-min-width: 345px;

.container {
  @include flexCenter;
  flex-direction: column;
  position: relative;
  width: 100%;

  .image {
    position: relative;
    width: 900px;
    height: 600px;
    margin: 0.5rem;

    @include desktopDown {
      width: 700px;
      height: 500px;
    }

    @include tabletDown {
      width: 495px;
      height: 330px;
      margin: 0.5rem 0;
    }

    @include phone {
      width: $image-min-width;
      height: 230px;
    }

    //custom screen size
    @media screen and (max-width: $image-min-width) {
      width: 100%;
    }
  }
}
