@import "../../../styles/utils.scss";
@import "../../../styles/variables.scss";

.container {
  z-index: 100;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 90px;
  padding: $app-padding-vertical / 2 $app-padding-horizontal;
  background: linear-gradient(to bottom, $bg-color-primary, transparent);
  background-color: $bg-color-primary;
  transition: background 0.3s ease-out;

  @include tabletDown {
    display: none;
  }

  &.scrolledDown {
    background: linear-gradient(to bottom, $bg-color-primary, transparent);
  }

  .logo {
    flex-shrink: 0.25;
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
    //TODO: when logo will be ready
    // width: 120px;
    // height: auto;
    // min-height: 50px;
  }

  .menu {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      flex-shrink: 0;
      margin-left: 3rem;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      text-align: end;
      font-size: 1.25rem;
      opacity: 1;
      transition: opacity 0.3s linear;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
