@import "../../styles/utils.scss";
@import "../../styles/variables.scss";

.container {
  opacity: 0;
  position: relative;
  width: 100%;
  height: 100vh;
  transform: translateY(50%);
  transition: all 0.7s linear;

  @include phone {
    height: 600px;
    width: 100%;
  }

  &.animate {
    transform: translateY(0%);
    opacity: 1;
  }

  h1,
  .icon {
    z-index: 1;
    position: absolute;
  }

  h1 {
    @include header($text-color-white);
    opacity: 0;
    bottom: 75%;
    left: 10%;
    width: 50%;
    transition: all 0.3s linear;

    @include phone {
      left: 5%;
      width: 85%;
      font-size: 3.5rem;
    }

    &.animate {
      top: 45%;
      opacity: 1;
    }
  }

  .icon {
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
  }
}
