@import "../../styles/utils.scss";
@import "../../styles/variables.scss";

.container {
  opacity: 0;
  position: relative;
  width: 100%;
  height: 100vh;
  transform: translateY(50%);
  transition: all 0.7s linear;

  @include phone {
    height: 60vh;
    width: 100%;
  }

  &.animate {
    transform: translateY(0%);
    opacity: 1;
  }

  h1,
  .icon,
  .logo {
    z-index: 1;
    position: absolute;
  }

  h1 {
    @include header($text-color-white);
    opacity: 0;
    top: 65%;
    right: -2%;
    margin-right: 5px;
    width: 50%;
    transition: all 0.3s linear;

    @include phone {
      text-align: center;
      width: 85%;
    }

    &.animate {
      top: 55%;
      opacity: 1;

      @include phone {
        top: 18%;
      }
    }
  }

  .icon {
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
  }

  .logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
