@import "../../styles/utils.scss";

.container {
  min-width: 300px;

  @include phone {
    min-width: 200px;
  }

  a {
    margin: 0 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;

    @include phone {
      font-size: 1.8rem;
    }
  }
}
