@import '../../../styles/utils.scss';

.text {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.header {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;

  @include tabletDown {
    display: flex;
  }

  .content {
    flex-grow: 1;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;

    .title,
    .logo {
      @extend .text;
    }
    .logo {
      width: 100px;
      height: auto;
      margin-left: 2rem;
      font-weight: 400;
      letter-spacing: 0.1rem;
    }
  }
}

.modal {
  width: 33.3333%;
  .menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    a {
      @extend .text;
      padding-bottom: 1.2rem;
    }

    @include tabletDown {
      display: flex;
    }
  }
}
