@import "../../styles/variables.scss";
@import "../../styles/utils.scss";

.footer {
  min-height: 50vh;
  @include flexCenter;
  flex-direction: column;
  width: 100%;
  padding: $app-padding-vertical $app-padding-horizontal;

  @include tabletDown {
    padding: $app-padding-vertical-mobile $app-padding-horizontal-mobile;
  }

  .footerTop {
    margin: 15px;
  }
  .footerMiddle {
    @include flexCenter;
    flex-direction: column;
    padding: 2rem 3rem;
  }
  .footerBottom {
    width: 100%;
    font-family: $font-family-secondary;
    font-weight: 900;
    text-align: end;
    text-transform: uppercase;
    border-top: 1px solid #000;
  }
}
