@import '../../styles/variables.scss';
@import '../../styles/utils.scss';

.footer {
  @include flexCenter;
  flex-direction: column;
  width: 100%;
  padding: $app-padding-top $app-padding-right $app-padding-bottom / 2
    $app-padding-left;

  .footerTop {
    margin: 15px;
  }
  .footerMiddle {
    @include flexCenter;
    flex-direction: column;
    padding: 2rem 3rem;
  }
  .footerBottom {
    width: 100%;
    font-family: $font-family-secondary;
    font-weight: 900;
    text-align: end;
    text-transform: uppercase;
    border-top: 1px solid #000;
  }
}
